{% extends "blog/base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>About me</h1>
  <p>Thanks for visiting my blog! Check all this cool stuff about me.
    A person who puts love and passion into their idea to make it come to life doesn’t just work Monday to Friday 9 to 5. They live and breathe their project—eight days a week.

    We want to help every entrepreneur enjoy their work, do their own thing, and find success online. This blog is all about the journey of small businesses, entrepreneurs, freelancers, self-employed or self-made men and women, professional hobbyists and whatever else you call them.

    We’ve divided the blog into different categories to accompany you at every step along the way—from that first idea, through launching your business, putting it online, and helping it grow.



    About Drafter
    Jimdo is the easiest way to create a website on a desktop, smartphone, or tablet, with no coding required. Founders Matthias Henze, Fridtjof Detzner, and Christian Springub started Jimdo in 2007 in an old farmhouse in Northern Germany. They had no budget, but shared a vision: build a tool that makes it fun for anyone to create their own website.

    Today, people from around the world have built over 20 million Jimdo websites—online stores, blogs, portfolios, business websites, and more. Jimdo has 200 employees, all of whom share the same goal: help users share their passions and build something truly great!</p>

 </div>

{% endblock %}
